article{
    background-color: #fff;
    border:1px solid #c5c5c5;
    margin-bottom: 2em;
    padding:1em;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

article:hover{
    box-shadow: 1px 2px 12px rgba(0, 0, 0, .3);
}


article .title{
  

    margin-bottom: .5em;
}
article .title a{
    color:#78aec8;
    text-decoration: none;
}

article .time{
    font-style: italic;
    color:#acacac;
}



article .title a:hover{
    text-decoration: underline;
}


article .content{
    padding:.5em 0;
}